.button {
    padding: 12px 15px 14px;
    border-color: transparent;
    background-color: $white;
    border-radius: $border-radius-base;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 200ms ease;
    letter-spacing: 0.3px;
    
    &.button-primary {
        background-color: $button-primary-bg-color;
        color: $white;
        &:hover, &:focus {
            background-color: darken($button-primary-bg-color, 10%);
        }
    }
}