.footer {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer-license {
    color: $footer-license-color;
    font-size: 10px;
}

.footer-links {
    font-size: 10px;
    font-weight: 700;
    margin-top: 10px;
}

.footer-separator {
    color: $footer-separator-color;
    padding: 0 2px;
}