.form-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media (min-width: $container-md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.form-group {
    text-align: left;
    flex: 0 0 0;
    margin-top: 15px;

    @media (min-width: $container-md) {
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
    }
}

label {
    font-size: 13px;
    color: $label-color;
    display: inline-block;
    margin-bottom: 2px;
}

.error-message {
    color: $error-color;
    position: absolute;
    font-size: 12px;
}

.label {
    display: inline-block;
}

.form-control {
    display: block;
    border: 1px solid $input-border-color;
    background-color: $white;
    height: 40px;
    border-radius: $border-radius-base;
    padding: 0 10px;
    box-sizing: border-box;

    .has-error & {
        border-color: $error-color;
    }
}

