.header-logo {
    text-align: center;
    padding: 25px 0 20px;
}

.logo {
    width: $logo-width;
}

.header-banner {
    background-image: linear-gradient(81deg, #7700c5, #31a4ea);
    background-size: 400% 400%;
    height: $banner-height;
    -webkit-animation: gradientAnimation 30s ease infinite;
    -moz-animation: gradientAnimation 30s ease infinite;
    animation: gradientAnimation 30s ease infinite;
}