.panel {
    background-color: $white;
    border: solid 1px $geyser;
    border-radius: $border-radius-base;
    padding: 20px 10px;
    @media (min-width: $container-lg) {
        padding-left: 24px;
        padding-right: 24px;
    }
}