.progress {
    position: fixed;
    height: $progress-height;
    width: 100%;
    background-color: $progress-color;
}

.progress-status {
    transition: width 300ms ease;
    position: absolute;
    height: 100%;
    background-color: $progress-status-color;
}