.wizard-wrapper {
    width: 100%;
}

.wizard {
    transition: all 0.5s ease;
    position: relative;
}

.wizard-section {
    text-align: center;
    position: absolute;
    width: 100%;
}

.wizard-section-button {
    margin-top: 30px;
    min-width: 162px;
}

.wizard-section-title {
    font-weight: 700;
    font-size: 24px;
    font-family: $font-family-secondary;

    &.has-margin {
        margin: 16px 0;
    }

    @media(min-width: $container-md) {
        font-size: 32px;
    }
}

.wizard-image {
    text-align: center;
    margin-bottom: 32px;
}

.wizard-enter {
    opacity: 0.01;
    position: absolute;
    transform: translateX(120%);
}

.wizard-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 400ms ease-out;
}

.wizard-exit {
    opacity: 1;
    transform: translateX(0%);
}

.wizard-exit-active {
    opacity: 0.01;
    transform: translateX(-120%);
    transition: all 400ms ease-out;
}