.survey {
    position: relative;
    top: -70px;
    margin-bottom: -70px;
    overflow: hidden;
    // TODO refactor to make flexible height
    min-height: 525px;

    @media (min-width: $container-md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
