* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    color: $text-color;
    font-size: $font-size-base;
    background-color: $body-bg;
}

a {
    color: $link-color;
    text-decoration: none;
}