// global
$font-family-base: Lato, Helvetica, sans-serif;
$font-family-secondary: Avenir Next, Helvetica, sans-serif;

//sizes
$font-size-base: 16px;
$banner-height: 180px;
$progress-height: 8px;
$logo-width: 104px;
$border-radius-base: 4px;
$panel-padding: 20px 10px;

// color definitions
$athens-gray: #eaedf2;
$lochmara-blue: #008ad8;
$martinique-black: #31304b;
$alabaster-white: #fafafa;
$science-blue: #0070d2;
$cerulean-blue: #0a8fdd;
$white: #ffffff;
$geyser: #d3d9e2;
$cadet-blue: #a8b7c7;
$flush-mahogany-red: #c23934;
$kashmir-blue: #54698d;
$lightgray: rgba(90, 90, 90, 0.3);

// color config
$progress-color: $athens-gray;
$progress-status-color: $lochmara-blue;
$text-color: $martinique-black;
$body-bg: $alabaster-white;
$input-border-color: $cadet-blue;
$error-color: $flush-mahogany-red;
$button-primary-bg-color: $science-blue;
$label-color: $kashmir-blue;
$footer-license-color: $lightgray;
$footer-separator-color: $cerulean-blue;
$link-color: $cerulean-blue;


// breakpoints
$container-lg: 1140px;
$container-md: 900px;